<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url('/assets/images/contact/owners.jpg')"></div>
      <ul class="details">
        <li class="author"><a href="#">Contact</a></li>
        <li class="date">Today</li>
        <li class="tags">
          <ul>
            <li><a href="#">Quick</a></li>
            <li><a href="#">Setup</a></li>
            <li><a href="#">All</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>About Us</h1>
      <h2>Start your party today</h2>
      <p> Transform your gathering into an epic celebration with our vibrant jump houses, comfortable seating, and heroic decorations. From high-energy fun to themed ambiance, we provide everything you need to make your party a hit. Let's make your next event not just memorable but truly super!</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url('/assets/images/logo.png')"></div>
      <ul class="details">
        <li class="author"><a href="#">VMTorres</a></li>
        <li class="date">Founded 2018</li>
        <li class="tags">
          <ul>
            <li><a href="#">Party</a></li>
            <li><a href="#">Decorations</a></li>
            <li><a href="#">Design</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>How to contact</h1>
      <h2>Work around your Schedule</h2>
      <p>Start by Filling out this questionare so we can know how to make it a special day</p>
      <p class="read-more">
      <a href="https://forms.gle/XFaHMJGuUEdW8Rtm9" target="_blank" class="clickable-link">
        Click here to Get Started
      </a>
      </p>
    </div>
  </div>

  <app-social></app-social>