$primary: #77ACF1;
$primary-alt: #040094;
$secondary: #C0FEFC;
$secondary-alt: #3EDBF0;
$light: #fff;
$dark: #000;

img{
  height: 45vh;
  // object-fit: ;
  object-fit: scale-down;
}
.carousel-container {
  width: 100%;
  position: relative;

  .carousel-wrapper {
    position: relative;
  }

  .carousel-content {
    position: relative;  
    display: flex;
    justify-content: center;
    transition: margin-left 0.3s ease;
    height: 40%;
    width: 100%;
  }

  .carousel-image {
    width: 15%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .current-image {
    width: 60%;
    position: relative;
  }

  .prev-image, .next-image {
    object-fit: cover;
  }
  
  // Styles for the arrows
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: $primary;
    color: $light;
    border-radius: 50%; 
    z-index: 1;
    &.left-arrow {
      left: calc(50% - 20%);  // 50% for center, -10% (half of current image width), -20px (half of arrow's width)
    }
      
    &.right-arrow {
      right: calc(50% - 20%);
    }
  }
}

.mat-mdc-card {
 box-shadow: none; 
}

@media only screen and (max-width: 1200px) {
  .prev-image, .next-image {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .carousel-arrow {
    opacity: .5;
  }
}