
   <div class="main-title">
      Plan your Next Party
   </div>
   <app-image-carousel></app-image-carousel>

   <app-social></app-social>
   <div class="inventory-graphic-container">
      <img src="/assets/images/inventory/inventory.png" alt="Inventory Graphic">
      <button class="inventory-button" routerLink="/inventory">Checkout our Inventory</button>
    </div>

   <div class="full-container flex justify-content-center">
      <div id="envelope">
         <div id="envelope-header">
            <p id="envelope-header-text">
               Make Your Celebration Unforgettable with VM Torres
            </p>
   
            <div id="stamp">
               <img id="stamp-logo" src="../../../assets/images/logo.png"/>
               <div class="stamp-line"></div>
               <div class="stamp-line"></div>
               <div class="stamp-line"></div>
            </div>
         </div>
         <div id="envelope-body">
            <button id="envelope-link" routerLink="/contact">Lets keep in touch</button>
         </div>
      </div>
   </div>
   


