<h1 class="head-title">Current Bundles Offered</h1>
<div class="main-container">
    <section class="plan-tier lift">
        <h4 class="bundle-title">Bundle</h4>
        <h5>
            <sup class="currency-symbol">$ </sup>
            <span>Great Prices</span>
        </h5>
        <ul class="plan-features">
            <li><strong>15x20</strong> Tent</li>
            <li><strong>4</strong> rectangle tables</li>
            <li><strong>4</strong> tablecloths</li>
            <li><strong>24</strong> regular chairs</li>
        </ul>
    </section>

    <section class="plan-tier lift">
        <h4 class="bundle-title">Bundle</h4>
        <h5>
            <sup class="currency-symbol">$ </sup>
            <span>Great Prices</span>
        </h5>
        <ul class="plan-features">
            <li><strong>20x20</strong> Tent</li>
            <li><strong>6</strong> rectangle tables</li>
            <li><strong>6</strong> tablecloths</li>
            <li><strong>48</strong> regular chairs</li>
        </ul>
    </section>

    <section class="plan-tier lift">
        <h4 class="bundle-title">Bundle</h4>
        <h5>
            <sup class="currency-symbol">$ </sup>
            <span>Great Prices</span>
        </h5>
        <ul class="plan-features">
            <li><strong>20x30</strong> Tent</li>
            <li><strong>10</strong> rectangle tables</li>
            <li><strong>80</strong> regular chairs</li>
        </ul>
    </section>

    <section class="plan-tier lift">
        <h4 class="bundle-title">Bundle</h4>
        <h5>
            <sup class="currency-symbol">$ </sup>
            <span>Great Prices</span>
        </h5>
        <ul class="plan-features">
            <li><strong>20x20</strong> Tent</li>
            <li><strong>6</strong> rectangle tables</li>
            <li><strong>6</strong> tablecloths</li>
            <li><strong>48</strong> regular chairs</li>
            <li><strong>1</strong> Chiara</li>
            <li>regular backdrop (choose 1)</li>
            <li>balloon garland 10ft max 3 colors</li>
        </ul>
    </section>

    <section class="plan-tier lift">
        <h4 class="bundle-title">Bundle</h4>
        <h5>
            <sup class="currency-symbol">$ </sup>
            <span>Great Prices</span>
        </h5>
        <ul class="plan-features">
            <li><strong>20x20</strong> Tent</li>
            <li><strong>6</strong> rectangle tables</li>
            <li><strong>6</strong> tablecloths</li>
            <li><strong>48</strong> regular chairs</li>
        </ul>
    </section>
    <section class="plan-tier lift">
        <h4 class="bundle-title">Event Package</h4>
        <h5>
            <sup class="currency-symbol">$ </sup>
            <span>Special Offer</span>
        </h5>
        <ul class="plan-features">
            <li><strong>20x30</strong> Tent with Draping</li>
            <li><strong>10</strong> rectangular tables</li>
            <li><strong>10</strong> tablecloths</li>
            <li><strong>80</strong> regular chairs</li>
            <li>Choice of backdrop: 
                <ul>
                    <li>Wood and Greenery Wall</li>
                    <li>2 Chiara Walls</li>
                </ul>
            </li>
            <li><strong>14ft</strong> Balloon Garland (max. 3 colors)</li>
        </ul>
    </section>
    
</div>
