
/* Utility Classes */
.superscript, .currency-symbol {
    vertical-align: top;
}

.subscript, .price-duration {
    vertical-align: bottom;
}
.head-title {
    display: flex;
    justify-content: center;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding: 10px;
  }


.plan-tier:hover {
    transform: translateY(-3px);
}

.bundle-title {
    background: #00a1ff;
    color: white;
    padding: 18px 0;
    text-align: center;
    width: 100%;
}

.plan-price {
    font-size: 5em;
    font-weight: 300;
    letter-spacing: -3px;
    padding: 10px;
}

.early-adopter-price, .original-price {
    color: #0091e5; /* Adjust if needed */
}

.plan-features {
    list-style: none;
    padding: 0;
    border-top: 2px solid #e7f2f0;
}

.plan-features li {
    font-size: 1.25em;
    padding: 18px 0;
    border-bottom: 2px solid #e7f2f0;
}

del {
    color: rgba(39, 65, 90, .5);
    text-decoration: line-through;
}


.lift{
    display: flex;
    justify-content: center; /* Center the cards */
    flex-direction: column;
    align-items: center;
}

// .plan-tier {
//     background: white;
//     border-radius: 3px;
//     overflow: hidden;
//     cursor: pointer;
//     box-shadow: 0 2px 6px rgba(39, 65, 90, .15);
//     transition: all .075s ease-out;
//     width: 15vw; /* Width of each card */
// }

// .main-container {
//     display: flex;
//     justify-content: center; /* Center the cards */
//     align-items: flex-start; /* Align items to the start of the flex container */
//     gap: 20px; /* Adds space between the cards */
//     width: 60vw; /* Adjust this based on the total width of the cards and desired gap */
//     margin: 0 auto; /* Center align the main container */
// }

.main-container {
    display: flex;
    justify-content: center; /* Center the cards */
    align-items: flex-start; /* Align items to the start of the flex container */
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    gap: 20px; /* Adds space between the cards */
    margin: 0 auto; /* Center align the main container */
}

.plan-tier {
    background: white;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(39, 65, 90, .15);
    transition: all .075s ease-out;
    width: 15vw; /* Width of each card */
    /* Other styles remain the same */
}

/* Responsive Design: Adjustments for smaller screens */
@media screen and (max-width: 800px) { /* Adjust the breakpoint as needed */
    .plan-tier {
        width: 30vw; /* Increase the width for smaller screens */
    }
}

@media screen and (max-width: 600px) { /* Adjust for even smaller screens */
    .plan-tier {
        width: 45vw; /* Further increase the width for very small screens */
    }
}