
.grid {
  padding: 0;
  // margin: -0.5em; // commented out since it's commented in the original too
  display: flex;
  flex-wrap: wrap;
}
.head-title {
  display: flex;
  justify-content: center;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  padding: 10px;
}
.my-custom-dialog-class{
  width: 40vw;
  height: 90vh;
 // height: clamp(700px, 1.2vh, 900px );
}

.tile {
  // background-color: #DDD; // commented out since it's commented in the original too
  height: 200px;
  flex-basis: 25%; // 4 column layout
  padding: 0.5em;
  box-sizing: border-box;
  .contents {
    background-color: #a2f0e9;
    width: 100%;
    height: 100%;
    .image-layout{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .image-text{
        padding: 10px;
        font-family: Roboto, "Helvetica Neue", sans-serif; 
        font-size: clamp(16px, 1.2vw, 27px);;
        line-height: 2rem;
      }
      img{
        width: 80%;
        height: 80%;
        object-fit: scale-down;
      }
    }

  }
}

.custom-icon{
  width: inherit;
  height: inherit;
}

@media (max-width: 800px) {
  .tile {
    flex-basis: 33.33%; // 3 column layout
  }
}

@media (max-width: 600px) {
  .tile {
    flex-basis: 50%; // 2 column layout
  }
}

@media (max-width: 400px) {
  .tile {
    flex-basis: 100%; // 1 column layout
  }
}
